name: Deploy to EC2

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: ${{ github.sha }}-${{ github.run_number }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image for dev
        if: github.ref == 'refs/heads/dev'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.dev
          push: true
          tags: gakeko2018/eupadmin:${{ env.IMAGE_TAG }}

      - name: Deploy to EC2 (Dev)
        if: github.ref == 'refs/heads/dev'
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo yum update -y
            sudo yum install -y docker
            sudo service docker start

            sudo usermod -a -G docker ec2-user

            sudo chkconfig docker on

            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

            docker stop eupadmin || true

            docker rm eupadmin || true

            docker rmi -f gakeko2018/eupadmin:${{ env.IMAGE_TAG }} || true

            docker pull gakeko2018/eupadmin:${{ env.IMAGE_TAG }}

            docker run -d --name eupadmin -p 3001:3001 --restart always -e NODE_ENV=development -e VITE_HOST_API=${{ secrets.VITE_HOST_API }} -e VITE_IMAGE_FOLDER_PATH=${{ secrets.VITE_IMAGE_FOLDER_PATH }} gakeko2018/eupadmin:${{ env.IMAGE_TAG }}

            docker container prune -f

            docker image prune -f

            docker network prune -f